.overlay-text h1 {
  font-size: 2.5rem;
}
.overlay-text p {
  font-size: 1.1rem;
}
#adolescents-program-section-1,
#adolescents-program-section-4 {
  padding: 2% 6%;
}
.montessori-education-box {
  padding: 1%;
}
.montessori-education-box p {
  text-align: justify;
  color: gray;
}
.hr-line {
  width: 85%;
  border: 2px dashed #252525;
}
#adolescents-program-section-2 {
  padding: 2% 2%;
}
#adolescents-program-section-2 .container {
  margin-left: 10%;
}

#adolescents-program-section-2 p {
  font-size: 15px;
  color: #333;
  text-align: center;
  line-height: 1.6;
}

#adolescents-program-section-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#adolescents-program-section-3 {
  padding: 2% 3%;
}
.academic-programme-box {
  padding: 1% 1%;
}
.academic-programme-box img {
  width: 100%;
  margin-block: 8%;
  align-content: center;
}
.text-justify {
  text-align: justify;
}
.art-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 2%;
}
.art-box {
  color: #000000;
  text-align: justify;
}

.art-box img {
  padding: 4%;
}

#adolescents-program-section-5 {
  padding: 0% 0%;
}
.container-custom {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 15px;
}
.community-student-support-box {
  position: relative;
  background: url("/Images/montessori-trained-adult.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.community-student-support-box .overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 40px;
  height: 100%;
  width: 100%;
}

.community-student-support-box p,
.community-student-support-box h2 {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
  #adolescents-program-section-1 {
    margin-top: -16rem;
  }
  .adolescents-program-image::before {
    height: 30%;
  }
  .overlay-text {
    top: 15%;
  }
  .overlay-text h1 {
    font-size: 1rem;
  }
  .overlay-text p {
    font-size: 0.4rem;
  }
  #adolescents-program-section-2 {
    padding: 2% 3%;
  }

  .nurturing-responsible p {
    font-size: 14px;
    padding: 10px;
  }

  .nurturing-responsible h1 {
    font-size: 1.3rem;
  }
  #adolescents-program-section-2 {
    padding: 1%;
  }
  #adolescents-program-section-2 .container {
    margin-left: 0%;
  }
  .community-student-support-box {
    text-align: center;
  }
  .community-student-support-box .overlay {
    padding: 15px;
  }
}
