.primary-image, .elementary-image, .adolescents-program-image{
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.primary-image img, .elementary-image img, .adolescents-program-image img{
  width: 100%;
  object-fit: cover;
  display: block;
}

.primary-image::before, .elementary-image::before, .adolescents-program-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 124, 58, 0.4);
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.overlay-text h1 {
  font-size: 3rem;
}
.overlay-text p {
  font-size: 1rem;
}

.primary-wave{
  position: relative;
  z-index: 4;
  top: -13rem;
}

.primary-wave svg{
  display: block;
  width: 100%;
  height: auto;
}
#primary-section,
#primary-curriculum-section, #elementary-section {
  position: relative;
  z-index: 6;
  padding: 2% 10%;
}
.primary-box, .elementary-box {
  padding: 1% 15%;
}
.primary-curriculum-box img{
  width: 100%;
  margin-block: 8%;
  align-content: center;
}

@media only screen and (max-width: 768px) {
  #primary-section, #elementary-section{
    margin-top: -16rem;
  }
  .primary-image::before, .elementary-image::before{
    height: 30%;
  }
  .overlay-text {
    top: 15%;
  }
  .overlay-text h1 {
    font-size: 1.6rem;
  }
  .overlay-text p {
    font-size: 0.5rem;
  }
  .primary-box {
    padding: 1% 2%;
  }
  .primary-curriculum-box img {
    margin-block: 0%;
    padding: 2%;
  }
}
