.testimonials-image {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.testimonials-image img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.testimonials-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 124, 58, 0.4); /* red with 50% opacity */
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 8;
}

.overlay-text h1 {
  font-size: 3rem;
}
.overlay-text p {
  font-size: 1rem;
}

.testimonials-wave {
  position: relative;
  z-index: 4;
  top: -13rem;
}

.testimonials-wave svg {
  display: block;
  width: 100%;
  height: auto;
}
#testimonials-section{
    position: relative;
    z-index: 6;
    margin-top: -18rem;
}

@media only screen and (max-width: 768px) {
  .testimonials-wave {
    top: -20.5rem;
  }
  .testimonials-image::before {
    height: 40%;
  }
  .overlay-text {
    top: 10%;
  }
  .overlay-text h1 {
    font-size: 1.6rem;
  }
  .overlay-text p {
    font-size: 0.5rem;
  }
}
